<launch>
  <node name="Camera" pkg="vision_system" type="camera" respawn="false" output="screen">
  </node>

  <node name="Face_Detector" pkg="face_detect" type="face_detector" respawn="false" output="screen">
    <remap from="/Face_Detector/image" to="/Camera/image"/>
  </node>

  <node name="KCF_Tracker" pkg="tracker" type="kcf_tracker" respawn="false" output="screen">
    <remap from="/KCF_Tracker/image" to="/Camera/image"/>
  </node>
  
  <node name="Tracking_System" pkg="tracking_system" type="tracking_system" respawn="false" output="screen">
    <remap from="/Face_Detector_Bridge/face_detector/activation" to="/Face_Detector/activation"/>
    <remap from="/Face_Detector_Bridge/face_detector/idx" to="/Face_Detector/face_idx"/>
    <remap from="/Face_Detector_Bridge/face_detector/roi" to="/Face_Detector/face_roi"/>
    <remap from="/Face_Detector_Bridge/face_detector/size" to="/Face_Detector/face_size"/>
    <remap from="/Face_Detector_Bridge/face_detector/status" to="/Face_Detector/status"/>
    <remap from="/KCF_Tracker_Bridge/kcf_tracker/activation" to="/KCF_Tracker/activation"/>
    <remap from="/KCF_Tracker_Bridge/kcf_tracker/roi" to="/KCF_Tracker/roi"/>
    <remap from="/KCF_Tracker_Bridge/kcf_tracker/track" to="/KCF_Tracker/track"/>
    <remap from="/KCF_Tracker_Bridge/kcf_tracker/status" to="/KCF_Tracker/status"/>
  </node>

  <node name="Interface" pkg="interface" type="interface" respawn="false" output="screen">
    <remap from="/Interface/image" to="/Camera/image"/>
    <remap from="/Interface/roi" to="/Tracking_System/track"/>
  </node>
</launch>
